/* thumbnails */
#slider.thumbnails, #slider.thumbnails .showcase-content-container { height:auto; }
#slider.thumbnails .showcase-content img { width:100%; }
#slider.thumbnails .showcase-thumbnail { margin-right:8px; }
#slider.thumbnails .showcase-thumbnail img { padding:3px; background:#fff; border:1px solid #afacac; opacity:0.6; filter: alpha(opacity=60); }
#slider.thumbnails .showcase-thumbnail img:hover, #slider.thumbnails .showcase-thumbnail.active img { cursor:pointer; border-color:#848484; opacity:1; filter: alpha(opacity=100); }
#slider.thumbnails .showcase-thumbnail-caption{position:absolute;bottom:2px;padding-left:10px;padding-bottom:5px;}
#slider.thumbnails .showcase-thumbnail-content{padding:10px;text-align:center;padding-top:25px;}
#slider.thumbnails .showcase-thumbnail-container { padding:0 0 10px; margin:10px 0 0; position:relative; }
#slider.thumbnails .showcase-thumbnail-container .showcase-thumbnail-restriction {margin:0 43px;}
#slider.thumbnails .showcase-thumbnail-button-backward, #slider.thumbnails .showcase-thumbnail-button-forward { width:43px; height:20px; position:absolute; top:50%; margin-top:-12px; }                     
#slider.thumbnails .showcase-thumbnail-button-backward { left:0; }
#slider.thumbnails .showcase-thumbnail-button-forward { right:0; }
#slider.thumbnails .showcase-thumbnail-button-backward:hover, #slider.thumbnails .showcase-thumbnail-button-forward:hover { cursor:pointer; }
#slider.thumbnails .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal span, 
#slider.thumbnails .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal span { display:block; width:20px; height:20px; background:url('../images/bg/slider-thumbnails-arrows.png') no-repeat; text-indent:-9999px; }
#slider.thumbnails .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal span { background-position:left top; margin-left:10px; }
#slider.thumbnails .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal span { background-position:right top; float:right; margin-right:10px; }
#slider.thumbnails .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal span:hover { background-position:left bottom; }
#slider.thumbnails .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal span:hover { background-position:right bottom; }
#slider.thumbnails .showcase-caption{background-image:url('../images/slider-caption-bg.png');bottom:0;display:none;left:0;padding:15px 32px;position:absolute;right:0;text-align:left;}
#slider.thumbnails .showcase-caption p { font-size:1em; margin:0; padding:0; color:#FFFFFF; }
#slider.thumbnails .showcase-plus-anchor { background-image: url('../images/plus.png');background-repeat: no-repeat;}
#slider.thumbnails .showcase-plus-anchor:hover { background-position:-32px 0;}
#slider.thumbnails div.showcase-tooltip{background-color:#fff;color:#000;text-align:center;padding:5px 8px;background-image:url('../images/white-opacity-80.png');}
#slider.thumbnails div.showcase-tooltip img { width:auto; height:auto; border:0 !important; padding:0; display:block; }