@{
    ViewBag.Title = "Home Page";
}
  <!-- BEGIN #slider -->                  
                <div id="slider" class="ei-slider elastic">
                    <ul class="ei-slider-large">
                        
                        <li class="first slide-1 slide align- image-content-type">
                            <img src="/Content/theme/images/slider/elastic/01.jpg" width="1280" height="500" alt="A Creative Touch.." /> 
                            <div class="ei-title">
                                <h2>A Creative Touch..</h2>
                                <h3>with diverso</h3>
                            </div>
                        </li>
                        
                        <li class="slide-2 slide align- image-content-type">
                            <img src="/Content/theme/images/slider/elastic/Senza-titolo-1.jpg" width="1280" height="500" alt="WordPress themes" /> 
                            <div class="ei-title">
                                <h2>WordPress themes</h2>
                                <h3>..only from 35$</h3>
                            </div>
                        </li>
                        
                        <li class="slide-3 slide align- image-content-type">
                            <img src="/Content/theme/images/slider/elastic/cinese.jpg" width="1280" height="500" alt="A great slider" /> 
                            <div class="ei-title">
                                <h2>A great slider</h2>
                                <h3>..for your brand</h3>
                            </div>
                        </li>
                        
                        <li class="slide-4 slide align- image-content-type">
                            <img src="/Content/theme/images/slider/elastic/dolce1.jpg" width="1280" height="500" alt="So sweet, so cutie" /> 
                            <div class="ei-title">
                                <h2>So sweet, so cutie</h2>
                                <h3>enjoy this theme</h3>
                            </div>
                        </li>
                        
                        <li class="slide-5 slide align- image-content-type">
                            <img src="/Content/theme/images/slider/elastic/ultima.jpg" width="1280" height="500" alt="This premium theme" /> 
                            <div class="ei-title">
                                <h2>This premium theme</h2>
                                <h3>a great solution</h3>
                            </div>
                        </li>
                        
                        <li class="slide-6 slide align- image-content-type">
                            <img src="http://yourinspirationweb.com/demo/diverso/files/2011/12/red-passion.jpg" width="1280" height="500" alt="Love the red fruit" /> 
                            <div class="ei-title">
                                <h2>Love the red fruit</h2>
                                <h3>..a red passion</h3>
                            </div>
                        </li>
                        
                        <li class="last slide-7 slide align- image-content-type">
                            <img src="http://yourinspirationweb.com/demo/diverso/files/2011/12/megaf.jpg" width="1280" height="500" alt="This theme says.." /> 
                            <div class="ei-title">
                                <h2>This theme says..</h2>
                                <h3>LOOK AT ME!</h3>
                            </div>
                        </li>
                    </ul>
                    <!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
                        <li><a href="#">A Creative Touch.. - with diverso</a><img src="/Content/theme/images/slider/elastic/01-150x59.jpg" alt="A Creative Touch.. - with diverso" /></li>
                        <li><a href="#">WordPress themes - ..only from 35$</a><img src="/Content/theme/images/slider/elastic/Senza-titolo-1-150x59.jpg" alt="WordPress themes - ..only from 35$" /></li>
                        <li><a href="#">A great slider - ..for your brand</a><img src="/Content/theme/images/slider/elastic/cinese-150x59.jpg" alt="A great slider - ..for your brand" /></li>
                        <li><a href="#">So sweet, so cutie - enjoy this theme</a><img src="/Content/theme/images/slider/elastic/dolce1-150x59.jpg" alt="So sweet, so cutie - enjoy this theme" /></li>
                        <li><a href="#">This premium theme - a great solution</a><img src="/Content/theme/images/slider/elastic/ultima-150x59.jpg" alt="This premium theme - a great solution" /></li>
                        <li><a href="#">Love the red fruit - ..a red passion</a><img src="http://yourinspirationweb.com/demo/diverso/files/2011/12/red-passion-150x59.jpg" alt="Love the red fruit - ..a red passion" /></li>
                        <li><a href="#">This theme says.. - LOOK AT ME!</a><img src="http://yourinspirationweb.com/demo/diverso/files/2011/12/megaf-150x59.jpg" alt="This theme says.. - LOOK AT ME!" /></li>
                    </ul>
                    <!-- ei-slider-thumbs -->    
                    <div class="shadow"></div>
                </div>                             
                
                <!-- JS SCRIPT --> 
                <script type="text/javascript">
                    // edit here
                    var slider_elastic_speed = 1000,
                            slider_elastic_timeout = 5000,
                            slider_elastic_autoplay = true,
                            slider_elastic_animation = 'sides';
                    // end editing    

                    $('#slider.elastic').eislideshow({
                        easing: 'easeOutExpo',
                        titleeasing: 'easeOutExpo',
                        titlespeed: 1200,
                        autoplay: slider_elastic_autoplay,
                        slideshow_interval: slider_elastic_timeout,
                        speed: slider_elastic_speed,
                        animation: slider_elastic_animation
                    });
                </script>
                <!-- END #slider -->    
                
                <!-- HOME SECTIONS -->   
                <div class="home-sections">
                
                    <!-- SECTION #1 -->
                    <div class="section gradient s-1 group">
                        <div class="section-title for-not-mobile">
                            <h2>About</h2>
                        </div>
                        <div class="section-content">
                            <h2 class="for-mobile">About</h2>
                            <h3>DI’VERSO <span>is a creative agency.</span></h3>
                            <h4>We create a beautiful, original, <span>amazing things.</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit. Donec vel dui ut augue tempus condimentum. In erat risus, pulvinar ac pulvinar adipiscing, vestibulum eget quam. Aenean molestie viverra ante at tincidunt. <strong>Etiam rhoncus elementum</strong> ultricies. ecenas volutpat ornare auctor. In non orci nec lacus imperdiet aliquet. Curabitur eleifend nulla ut augue.</p>
                        </div>
                        <div class="shadow"></div>
                    </div>               
                    <!-- END SECTION #1 -->
                    
                    <!-- SECTION #2 -->
                    <div class="section gradient s-2 group">
                        <div class="section-title for-not-mobile">
                            <h2>Services</h2>
                        </div>
                        <div class="section-content">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li>
                                        <h4><a href="#webdesign" title="Web Design">Web Design</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#brand" title="Brand Identity">Brand Identity</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#photo" title="Photography">Photography</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#advertise" title="Advertising">Advertising</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#copywrite" title="Copywriting">Copywriting</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#marketing" title="Marketing">Marketing</a></h4>
                                    </li>
                                </ul>
                                <div class="border-box group">
                                
                                    <div id="webdesign" class="panel group">
                                        <img src="/Content/theme/images/sections/web.png" alt="" class="alignright" />
                                        <h3>We do beautiful things</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="brand" class="panel group">
                                        <img src="/Content/theme/images/sections/brand.png" alt="" class="alignleft" />
                                        <h3>Brand & Corporate Identity</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="photo" class="panel group">
                                        <img src="/Content/theme/images/sections/foto.png" alt="" class="alignright" />
                                        <h3>Photobooks</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante at tincidunt.
                                        </p>
                                    </div>
                                    
                                    <div id="advertise" class="panel group">
                                        <img src="/Content/theme/images/sections/adv.png" alt="" class="alignleft" />
                                        <h3>Advertising: Be Smart</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="copywrite" class="panel group">
                                        <img src="/Content/theme/images/sections/copy.png" alt="" class="alignright" />
                                        <h3>Copywriting services</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                    <div id="marketing" class="panel group">
                                        <img src="/Content/theme/images/sections/marketing.png" alt="" class="alignleft" />
                                        <h3>Marketing Strategies</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dui ut 
                                            augue tempus condimentum., vestibulum eget quam. Aenean molestie viverra ante 
                                            at tincidunt. Etiam rhoncus elementum ultricies. ecenas volutpat seori ornare auctor.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>              
                    <!-- END SECTION #2 -->
                    
                    <!-- SECTION #3 -->
                    <div class="section gradient s-3 group">
                        <div class="section-title for-not-mobile">
                            <h2>Testimonials</h2>
                            <h4>Need a <span>free</span> quote?</h4>
                            <p>Feel free to contact us for a free quote. Use this form or call us!</p>
                        </div>
                        <div class="section-content">
                            <h2 class="for-mobile">Testimonials</h2>
                            <h3>Our clients say</h3>
                            <div class="cites group">
                                <div class="text">
                                    <p>Quisque vel ipsum nec magna aliquet molestie in quis ipsum. Sed nisl est, 
                                    hendrerit in laoreet facilisis, placerat eget tortor. Nunc ipsum eros, sagittis 
                                    quis dignissim sed, imperdiet vitae sem. Praesent et ultricies tellus. Etiam ornare 
                                    dolor sagittis quis dignissim sed, imperdiet vitae sem. Praesent et ultricies tellus.</p>
                                </div>
                                <div class="text">
                                    <p>Duis bibendum massa in felis auctor at pellentesque nulla consequat. Duis 
                                    ornare elementum nisl quis semper. <strong>In consequat tortor</strong> odio, 
                                    quis iaculis metus. Phasellus neque ipsum, volutpat molestie pellentesque dapibus, 
                                    dapibus molestie libero</p>
                                </div>
                                <div class="text">
                                    <p>Nunc egestas magna luctus mauris ultricies vitae fermentum lectus faucibus. 
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                                    Curae; Mauris et augue suscipit est ultricies gravida. Phasellus sollicitudin 
                                    scelerisque pellentesque. Mauris et augue suscipit!</p>
                                </div>
                            </div>
                            <div class="border-line"></div>
                            <ul class="testimonials group">
                                <li class="active">
                                    <div class="sphere"><img width="78" height="78" src="/Content/theme/images/testimonials/mergot-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="mergot" title="mergot" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Joy Mèrgot</h4>
                                    <a href="http://google.com" class="website">google.com</a>
                                </li>
                                <li>
                                    <div class="sphere"><img width="78" height="78" src="/Content/theme/images/testimonials/meis-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="meis" title="meis" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Elisa Meis</h4>
                                    <a href="http://LoveCraft" class="website">Love Craft</a>
                                </li>
                                <li>
                                    <div class="sphere"><img width="78" height="78" src="/Content/theme/images/testimonials/mori-78x78.jpg" class="attachment-testimonial-thumb wp-post-image" alt="mori" title="mori" /></div>
                                    <div class="shadow-thumb"></div>
                                    <h4>Ricardo Mori</h4>
                                    <a href="http://SolarisInc" class="website">Solaris Inc</a>
                                </li>
                            </ul>
                        </div>
                        <div class="shadow"></div>
                    </div>  
                    <!-- END SECTION #3 -->
                    
                </div>   
                <!-- END HOME SECTIONS -->
	<div id="content" class="gradient layout-sidebar-no group">
                    
                    <!-- SLOGAN -->
                    <div id="slogan" class="inner">
                        <h1>WHAT'S NEW?</h1>
                        <h3>works, ideas and <span>so much more</span>.</h3>
                    </div>                       
                    <!-- END SLOGAN -->
                    
                    <!-- START CONTENT -->
                    <div id="primary" class="hentry group wrapper-content" role="main">
                        <div class="two-fourth">
                            <h4>From our <span>blog</span></h4>
                            
                            <!-- START LAST NEWS -->
                            <div class="last-news group">
                                <div class="box-post group thumbnail">
                                    <div class="box-post-thumb sphere">
                                        <img width="86" height="86" src="/Content/theme/images/various/glasses-86x86.jpg" alt="glasses" title="glasses" />
                                    </div>
                                    <div class="box-post-body group">
                                        <div class="news_title">
                                            <a class="title" href="#" title="A fresh and nice blog layout: do u like it?">A fresh and nice blog layout: do u like it?</a>
                                        </div>
                                        <div class="news_excerpt">
                                            <p>Curabitur scelerisque, ipsum sit amet aliquet adipiscing, 
                                            urna sem congue ante, pellentesque euismod turpis tellus [...]</p>
                                        </div>
                                        <p class="meta">
                                            <span class="date">December 13, 2011</span>                
                                            <span class="author">by nando</span>            
                                        </p>
                                    </div>
                                </div>
                                <div class="box-post group thumbnail">
                                    <div class="box-post-thumb sphere">
                                        <img width="86" height="86" src="/Content/theme/images/various/sushi1-86x86.jpg"" alt="sushi" title="sushi" />
                                    </div>
                                    <div class="box-post-body group">
                                        <div class="news_title">
                                            <a class="title" href="#" title="50% off on our products for the month of August">50% off on our products for the month of August</a>
                                        </div>
                                        <div class="news_excerpt">
                                            <p>Nunc egestas magna luctus mauris ultricies vitae fermentum lectus faucibus. 
                                            Vestibulum ante ipsum primis in [...]</p>
                                        </div>
                                        <p class="meta">
                                            <span class="date">December 7, 2011</span>                
                                            <span class="author">by antoscarface</span>            
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <!-- END LAST NEWS -->
                            
                        </div>              
                        
                        <div class="two-fourth last">
                            <h4>From <span>portfolio</span></h4>
                            
                            <!-- START WORKS SLIDER -->
                            <div class="works-slider flexslider">
                                <ul class="slides">
                                    
                                    <li class="box-work">
                                        <a href=#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/0016-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Kassyopea Theme</a></h4>
                                            <p class="categories"><a href="#" rel="tag">web design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/0024-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Olìmpo</a></h4>
                                            <p class="categories"><a href="#" rel="tag">restyling</a>, <a href="#" rel="tag">web design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/0041-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Coffee Break</a></h4>
                                            <p class="categories"><a href="#" rel="tag">logo design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/0061-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Tiramisu video</a></h4>
                                            <p class="categories"><a href="#" rel="tag">logo design</a>, <a href="#" rel="tag">web design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/Fotolia_28180973_Subscription_XL-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Kalysphèra</a></h4>
                                            <p class="categories"><a href="#" rel="tag">logo design</a>, <a href="#" rel="tag">web design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/0016-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Impero Brand</a></h4>
                                            <p class="categories"><a href="#" rel="tag">logo design</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="/Content/theme/images/various/00241-425x170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Brand: Food In Love</a></h4>
                                            <p class="categories"><a href="#" rel="tag">logo design</a></p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div> 


						